.color {
    color: #22A7F0; /* 1st used color */
    color: #0a3d62; /* 2nd used color */
}

/* =====================================
    Global CSS
======================================== */
html,
body {
    color: #333;
}

.section {
    padding: 6.25rem 0;
    background-color: #f8f9fa;
}
/* End of Global CSS */


/* =====================================
    Navigation Menu
======================================== */
.nav-menu {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 60px;
    top: 30px;
    /* transition: all .5s; */
}

.navbar-brand {
    position: absolute;
    width: auto;
    height: 105px;
    /* border: 1px solid red; */
    text-align: center;
    transition: all .5s;
}

.navbar-brand img {
    width: auto;
    height: 100%;
}

.menu-item {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #eee;
    transition: color .3s;
}

.menu-item:hover,
.menu-item:focus {
    color: #22A7F0;
    outline: none;
}

.nav-active {
    color: #22A7F0;
}

.bar-1, .bar-2, .bar-3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    background: #fff;
    transition: all .3s;
}

.transform-x .bar-1 {
    transform: rotate(-135deg) scaleX(1.15) translate(-6px, -5px);
}

.transform-x .bar-3 {
    transform: rotate(135deg) scaleX(1.15) translate(-6px, 5px);
}

.transform-x .bar-2 {
    width: 0;
}

.custom-nav {
    position: fixed;
    top: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.custom-nav .navbar-brand {
    height: 60px;
}
/* End of Navigation Menu */


/* =====================================
    Slider
======================================== */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.5));
    z-index: 3;
}

.slides-container img {
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
}

.slider-text {
    position: absolute;
    color: #fff;
    z-index: 999;
    top: 50%;
    right: 10%;
    width: 80%;
    text-align: right;
    transform: translateY(-50%);
    /* height: 250px; */
    /* border: 1px solid red; */
}

.slider-text .name {
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
    letter-spacing: 7px;
    font-weight: 100;
    position: relative;
    padding-bottom: 14px;
}

.slider-text .name:after {
    content: '';
    border-bottom: 4px solid #22A7F0;
    position: absolute;
    right: 8px;
    /* left: 50%; */
    bottom: 0;
    /* transform: translateX(-50%); */
    width: 50px;
}

.slider-text .typed {
    letter-spacing: 5px;
    min-height: 50px;
    font-weight: 400;
    margin: 20px 0 16px 0;
    /* border: 1px solid yellow; */
}

.btn--hire {
    /* font-weight: bold; */
    font-weight: 500;
    letter-spacing: 1.5px;
    transition: all .5s;
}

.social-icons {
    /* border: 1px solid yellow; */
}

.social-icons a {
    /* border: 1px solid goldenrod; */
    display: inline-block;
    color: #fff;
    font-size: 1.4rem;
    margin-left: 6px;
    opacity: 0.8;
    position: relative;
    top: 2px;
    transition: all .3s;
}

.social-icons a:hover {
    opacity: 1;
    top: 0;
}

.social-icons a:focus {
    top: 2px;
}

.social-icons .fab {
    font-size: 1.4rem;
}

.social-icons .fab:hover {
    box-shadow: 0 0px 10px rgba(255, 255, 255, .7);
}

.social-icons .fab:focus {
    box-shadow: none;
}

.slides-pagination {
    padding-bottom: 10px;
    top: 50%;
    left: 30px;
    width: auto;
    transform: translateY(-50%);
    /* border: 1px solid khaki; */
    bottom: auto;
    padding: 0;
}

.slides-pagination a {
    border: 2px solid rgba(0, 0, 0, .3);
    /* border: 2px solid rgba(34, 167, 240, .4); */
    color: transparent;
    margin: 14px 0;
    display: block;
    /* box-shadow: 0 0 4px 1px rgba(255, 255, 255, .7); */
    box-shadow: 0 0 4px 1px rgba(34, 167, 240, 1);
}

.slides-pagination a.current {
    /* background: rgba(255, 255, 255, .9); */
    background: rgba(34, 167, 240, .9);
    border: 2px solid rgba(0, 0, 0, .7);
}
/* =====================================
    End of Slider
======================================== */


/* =====================================
    About
======================================== */
.section-title h1 {
    font-weight: 400;
    color: #22A7F0;
    /* position: relative; */
}

.section-title h1::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    background: #22A7F0;
    width: 40%;
    height: 6px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.section-title__text {
    background-color: #f8f9fa;
    position: relative;
    padding: 0 26px;
    z-index: 1;
}

.about-img {
    position: relative;
}

.about-img::before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    width: 86%;
    height: 94%;
    border: 12px solid #22A7F0;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.about-img img {
    max-width: 100%;
    box-shadow: 0 0 0px 12px rgba(34, 168, 240, 0.1);
}

.about-detail {
    padding-left: 3rem;
}

.about-detail h4 {
    font-weight: 400;
}

.about-detail h4 strong {
    font-weight: 500;
}

.about-detail p {
    line-height: 1.7;
    margin: 1.8rem 0;
}

.about-detail__links {
    margin-top: 2.5rem;
}

.btn-download {
    background-color: #22A7F0;
    color: #fff;
    transition: all .2s;
    animation: glow 1.8s linear infinite;
}

.btn-download i.fa {
    font-size: 13px !important;
    animation: top-to-bottom 1.8s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    position: relative;
    padding-left: 3px;
    opacity: 0;
}

@keyframes top-to-bottom {
    0% {
        top: -3px;
        opacity: 0;
    }
    25% {
        top: -3px;
        opacity: .7;
    }
    50% {
        top: 0;
        opacity: .9;
    }
    75% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: -2px;
        opacity: 0;
    }
}

@keyframes glow {
    0% {
        box-shadow: 1px 0 5px #22A7F0;
    }
    25% {
        box-shadow: 0px 0 8px #22A7F0;
    }
    50% {
        box-shadow: 0px 0 15px #22A7F0;
    }
    75% {
        box-shadow: 0px 0 8px #22A7F0;
    }
    100% {
        box-shadow: 0px 0 5px #22A7F0;
    }
}

.btn-download:hover {
    background-color: #0d8ed3;
    color: #fff;
    animation: none;
}

.btn-download:hover i.fa {
    animation: none;
    opacity: 1;
}

.btn-hire {
    border-color: #22A7F0;
    color: #22A7F0;
    transition: all .2s;
}

.btn-hire:hover {
    background-color: #22A7F0;
    color: #fff;
}
/* =====================================
    End of About
======================================== */


/* =====================================
    Skills
======================================== */
.skills-section {
    background-color: #0a3d62;
    color: #fff;
}

.skills-section .section-title h1 {
    color: #fff;
}

.skills-section .section-title h1::before {
    background: #fff;
}

.skills-section .section-title__text {
    background: #0a3d62;
}

.skills-section .owl-carousel {
    cursor: grab;
}

.skills-section .owl-carousel:active {
    cursor: grabbing;
}

.skills-section__skill {
    text-align: center;
    margin-left: 10px;
}

.skills-section__skill h4 {
    margin-top: 1rem;
    font-weight: 400;
}

.skills-section__chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.skills-section__chart__percent {
    line-height: 152px;
    display: inline-block;
    font-size: 2rem;
}

.skills-section__chart__percent:after {
    content: "%";
}

.skills-section__chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
/* =====================================
    End of Skills
======================================== */


/* =====================================
    Works
======================================== */
.works-section__filter ul {
    list-style: none;
    padding: 0;
}

.works-section__filter li {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #22A7F0;
    color: #22A7F0;
    border-radius: 3px;
    padding: 5px 14px;
    margin-right: 14px;
    transition: all 300ms;
}

.works-section__filter li:hover {
    background: #22A7F0;
    color: #fff;
}

.filter-active {
    background: #22A7F0;
    color: #fff !important;
}

.filter-container {
    
}

.filtr-item {
    
}

.works-section__work {
    width: 303px !important;
    height: 250px !important;
    overflow: hidden !important;
    /* border: none !important; */
    /* border: 1px solid gold; */
}

.works-section__work img {
    max-width: 100%;
    height: auto;
}

.works-section__icons {
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.works-section__icons a {
    background-color: rgba(34, 168, 240, 0.8);
    display: inline-block;
    padding: .25em .5em;
    margin: 0 .25em;
    position: relative;
    transition: all 300ms ease-out;
}

.works-section__icons a:hover {
    background-color: #22A7F0;
}

.works-section__icons i {
    color: #fff;
    font-size: 1.125rem;
}

.works-section__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 300ms ease-out;
}

.works-section__work:hover .works-section__overlay {
    opacity: 1;
}

.works-section__view {
    float: left;
    left: -200px;
    opacity: 0;
}

.works-section__link {
    float: right;
    right: -200px;
    opacity: 0;
}

.works-section__work:hover .works-section__view {
    left: 0;
    opacity: 1;
}

.works-section__work:hover .works-section__link {
    right: 0;
    opacity: 1;
}
/* =====================================
    End of Works
======================================== */


/* =====================================
    Price
======================================== */
.price-section {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url('../images/1.jpg') center center no-repeat / cover;
}

.card-1,
.card-2,
.card-3 {
    background: linear-gradient(rgba(34, 168, 240, 0.6), rgba(34, 168, 240, 0.5)), url('../images/1.jpg') center no-repeat / cover;
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../images/1.jpg') center no-repeat / cover; */
    box-shadow: 7px 18px 50px #555;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
}

.card-list-item {
    border-bottom: 1px solid #eee;
    width: 90%;
    margin: auto;
}

.card-list-item:last-child {
    border-bottom: none;
}

.price-section .btn--hire {
    border-radius: 25px;
    /* padding: .5em 0; */
    width: 150px;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.3);
    text-shadow: none;
    backface-visibility: hidden;
}
.price-section .btn--hire:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}
/* =====================================
    End of Price
======================================== */


/* =====================================
    Testimonial
======================================== */
.testimonials-section {
    background-color: #0a3d62;
    position: relative;
    overflow: hidden;
}

.testimonials-section img {
    width: 130px !important;
    height: 130px !important;
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.testimonials-section__skewed {
    background-color: #f8f9fa;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0, -25deg);
}

.testimonials-section__owl-nav {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
}

.testimonials-section__owl-prev,
.testimonials-section__owl-next {
    color: rgba(10, 61, 98, 0.3) !important;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 200ms ease;
}

.testimonials-section__owl-prev:hover,
.testimonials-section__owl-next:hover {
    color: rgba(10, 61, 98, 0.7) !important;
}

.testimonials-section__owl-prev {
    float: left;
    transform: translateX(-125px);
}

.testimonials-section__owl-next {
    float: right;
    transform: translateX(125px);
}
/* =====================================
    End of Testimonial
======================================== */



/* =====================================
    Media Queries
======================================== */

/* ===== Max width "991px" ===== */
@media only screen and (max-width: 991px) {
    .navbar-brand {
        top: 0;
        left: 50%;
        transform: translate(-50%, -22%);
    }

    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, .5);
        margin-top: 60px;
        padding: 40px 0 20px 0;
        border-bottom: 4px solid rgba(0, 0, 0, .7);
        z-index: -1;
        transition: all .1s;
    }
    
    .custom-nav {
        box-shadow: none;
    }
    .custom-nav .navbar-brand {
        top: 15px;
    }
    
    .slides-pagination {
        display: none;
    }

    /* About Section */
    .section-title h1::before {
        width: 52%;
    }

    .about-detail {
        padding-left: 0;
        padding-top: 3rem;
    }
    /* End of About Section */
}
/* End of Max width "991px" */


/* ===== Max width "767px" ===== */
@media only screen and (max-width: 767px) {
    /* About Section */
    .section-title h1::before {
        width: 70%;
    }
    /* End of About Section */
}
/* End of Max width "767px" */


/* ===== Max width "575px" ===== */
@media only screen and (max-width: 575px) {
    .nav-menu {
        background-color: rgba(0, 0, 0, .7);
    }

    .nav-wrapper {
        background-color: rgba(0, 0, 0, .7);
    }

    .menu-item {
        font-weight: 700;
    }

    .slider-text {
        text-align: center;
    }

    .slider-text .name {
        font-size: 1rem;
        font-weight: 400;
    }

    .slider-text .name:after {
        left: 50%;
        transform: translateX(-50%);
    }

    .slider-text .typed {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 18px;
        min-height: 35px;
    }

    .slider-text button {
        font-size: 0.875rem;
    }

    .social-icons {
        margin-top: 1.25rem!important;
    }
    /* About Section */
    .section-title__text {
        padding: 0 14px;
    }
    
    .about-img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .about-detail {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    /* End of About Section */
}
/* End of Max width "575px" */


/* ===== Max width "425px" ===== */
@media only screen and (max-width: 425px) {
    .navbar-toggler {
        padding: 0 !important;
    }

    .bar-1, .bar-2, .bar-3 {
        width: 20px;
        margin: 4.2px;
    }

    .navbar-brand {
        /* width: 200px; */
        width: 168px;
        height: 85px;
        transform: translate(-50%, -15%);
    }

    .navbar-brand img {
        width: 100%;
    }

    .custom-nav .navbar-brand {
        width: 130px;
        height: 60px;
        transform: translate(-50%, -22%);
    }

    .transform-x .bar-1 {
        transform: rotate(-135deg) scaleX(1.15) translate(-5px, -5px);
    }

    .transform-x .bar-3 {
        transform: rotate(135deg) scaleX(1.15) translate(-5px, 5px);
    }

    /* About Section */
    .section-title__text {
        padding: 0 14px;
    }

    .section-title h1::before {
        width: 80%;
    }
    /* End of About Section */
}
/* End of Max width "425px" */



/* ===== Max height "500px" ===== */
@media only screen and (max-height: 500px) {
    .menu-item {
        padding: 0.08rem 1rem;
        font-weight: 500;
    }

    .slider-text {
        top: 65%;
    }
    
    .slider-text .name {
        font-size: 1.25rem;
        padding-bottom: 10px;
    }
    
    .slider-text .typed {
        margin: 12px 0 5px 0;
        font-size: 1.5rem;
    }
    
    .social-icons {
        margin-top: 1.125rem !important;
    }
}

/* =====================================
    End of Media Queries
======================================== */